.nav__menu {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  background-color: #262626;
  padding: 20px 0;
  border-radius: 25px;
}
.nav__title {
  margin: 0 50px;
  font-size: 26px;
  color: #0666c5;
}
.nav__menu_list {
  display: flex;
  gap: 24px;
}
.nav__link {
  margin-top: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover {
  color: #2563eb;
}
.nav__btn {
  margin: -5px 48px 0 40px;
  
}
