/* Estilo do corpo do documento */
.card {
  background-color: #f5f5f5;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333333;
}

/* Estilo do cabeçalho */
.cabecalho {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
}

/* Estilo do círculo da foto de perfil */


/* Estilo da foto de perfil */
.imagem__perfil {
    width: 230px;
    border-radius: 100px;
    height: 230px;
}

/* Estilo dos links de rede social */
.social-link {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: #333333;
  transition: color 0.3s ease;
}

.icon-social {
  vertical-align: middle;
  margin-right: 5px;
  width: 20px;
  
}

.social-link:hover {
  color: #ff5500;
}
.botao {
    border: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
}
.botao:hover {
    background-color: #787474;
    
}
/* Estilo dos tokens  */
.logo__hc {
  display: flex;
  justify-content: flex-end;
  display: -webkit-flex;
  -webkit-justify-content: flex-end;
}
